.detail-wrapper {
  margin-bottom: 5rem;
  display: flex;
  padding: 2rem;

  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin-top: 2rem;
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
  img {
    width: 100%;
    border-radius: 2rem;
  }
  li {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
  ul {
    margin-top: 2rem;
    list-style: none;
  }

  .back-btn {
    margin: 1rem 1rem 0;
    border-radius: 0.3rem;
    width: 20%;
    padding: 0.5rem 1rem;
    background: linear-gradient(35deg, #34495e, var(--primary-color));
    color: #f3f3f3;
    border: none;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    cursor: pointer;
    &:hover {
      box-shadow: 6px 6px 10px var(--shadow-color);
      transition: 0.2s ease-in-out;
    }
  }

  .recipe-header {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  .recipe-info {
    margin-left: 2.5rem;
    width: 60%;
    button.recipe-button {
      padding: 1rem 2rem;
      color: #313131;
      background: white;
      border: 2px solid black;
      margin-right: 2rem;
      font-weight: 600;
      &.active {
        background: linear-gradient(35deg, #34495e, var(--primary-color));
        color: white;
      }
    }
  }
}
